body{
  background-color: #ccede1;
}
.jumbotron{
  padding-left: 50px;
  width: 1000px;
  height: auto;
  align-content: center;
  border: 1px dotted black;
}
#content{
    padding-left: 190px;
}
th ,#data{
  text-align: center;
  height : 40px;
}
table{
  border: 1px solid black;
}
