body{
  background-color: #ccede1;
}

label{
  font-weight: bold;
}

input ,select{
  float:right;
  width: 100%;
}
.jumbotron{
  padding-left: 30px;
  width: 400px;
  height: auto;
  align-content: center;
  border: 1px dotted black;
}

#content{
    padding-left: 400px;
}

submit{
  align: right;
}
