{% extends 'Feedback_System/base.html' %}
{% load staticfiles %}
{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/portals.css' %}">
{% endblock %}
{% block body_block %}
<div id="content">
  <div class="jumbotron" >
      THE PURPOSE OF PROVIDING THIS ONLINE FEEDBACK SYSTEM FORMS WHICH PROVIDES FAST AND QUICK FEEDBACK ABOUT THE COLLEGE FACULTIES GIVEN BY THE STUDENT ON TIME AT ANYWHERE FROM ANY PLACE BY JUST LOGIN FROM THEIR VALID ACCOUNT.
      <br>THE FACULTY FEEDBACK PORTAL PROVIDES AN EASIER WAY TO GIVE RATING TO THE COLLEGE STAFFS.
      <br>STUDENTS CAN RATE THEIR FACULTY MEMBERS ACCORDING TO THEIR TEACHING STYLE,KNOWLEDGE PERCEPTION ON THE SUBJECT,PUNTUALITY,DISCIPLINE AT ANY TIME FROM ANY PLACE.
      <br>THROUGH THIS SYSTEM DATA OF FACULTY MEMBERS AND STUDENT WERE MANAGED IN QUITE A SAMPLE MANNER.
      <br>THIS ONLINE FEEDBACK SYSTEM REPLACES THE TRADITIONAL,MANUAL FEEDBACK SYSTEM BY WHICH LOTS OF PAPER WORK WILL BE REDUCED.
      THIS SYSTEM PROVIDES AN EASY SOLUTION TO COLLEGE STAFF AND STUDENTS FOR MAINTAINING FEEDBACK RELATED TO COLLEGE STAFF AND INFRASTRUCTURE.
    </div>
</div>
{% endblock %}
