{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body bgcolor="#2631ff">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <ul class="nav navbar-nav">
            <li class="navbar-brand"><h3>Feedback System</h3></li>
            <li class="nav-item"><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
              <li class="nav-item"> <a class="navbar-brand" href="{% url 'project_app:user_logout' %}">Log Out</a> </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'project_app:student_login' %}">Student</a>
                <a class="dropdown-item" href="{% url 'project_app:faculty_login' %}">Faculty</a>
              </div>
            </li>
            <li><a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Register</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'project_app:student_register' %}">Student</a>
                  <a class="dropdown-item" href="{% url 'project_app:faculty_register' %}">Faculty</a>
                </div>
              </li>
            {% endif %}
          </ul>

    </nav><br><br>
          <div class="container">
            {% block body_block %}
            {% endblock %}
          </div>
</body>
</html>
