{% extends 'Feedback_System/base.html' %}
{% load staticfiles %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block body_block %}
  <div id="content">
    <div class="jumbotron">
        <h2>Name : {{ facultydetails.user.username }}</h2><br>
        <h2>Email : {{ facultydetails.user.email }}</h2><br>
        <h2>Age : {{ facultydetails.age }}</h2><br>
        <h2>{{subjects}}</h2>
        <a href="{% url 'project_app:facultyprofile_list' %}">Back to Faculty List Page</a>
    </div>
  </div>
{% endblock %}
