{% extends 'Feedback_System/base.html' %}
{% load staticfiles %}
{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/portals.css' %}">
{% endblock %}
{% block body_block %}
<div id="content">
  <div class="jumbotron">
    <table border="1" id="details">
      <tr>
        <th>Name </th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{dept}}</td>
      </tr>
    </table>
    <br>
      <hr class="my-4">
    <br>
      <table border="1" width="500">
        <tr>
          <td colspan="5">Faculty Ratings</td>
        </tr>
        <tr>
          <th>Year</th>
          <th>Subject</th>
          <th>Section</th>
          <th>Faculty</th>
          <th>Result Link</th>
        </tr>
        {% for fac in faculty %}
          <tr>
            <td>{{fac.year}}</td>
            <td>{{fac.subject}}</td>
            <td>{{fac.section}}</td>
            <td>{{fac.faculty}}</td>
            <td><a href="{% url 'project_app:feedback_result' fac.id %}">Click Here</a></td>
          </tr>
        {% endfor %}
      </table>
      <br><hr class="my-4"><br>
      <h4>Click here to <a href="{% url 'project_app:assign_faculty' %}">Assign Faculty to Subjects</a>

  </div>
</div>
{% endblock %}
