{% extends 'Feedback_System/base.html' %}
{% block body_block %}
    <div class="jumbotron">
      <h1>Please Login !</h1>
      <form action="{% url 'project_app:student_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Registraion Number :</label>
        <input type="text" name="username"><br>
        <label for="password" name='password'>Password :</label>
        <input type="password" name="password"><br>
        {{ forms.errors }}
        <input type="submit" value="Login">
      </form>
    </div>

{% endblock %}
