{% extends 'Feedback_System/base.html' %}
{% load staticfiles %}
{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block body_block %}
        <div id='content'>
          <div class="jumbotron">
            <center><h1>Student SignUp</h1></center><br>
              <form method="POST" >
                {% csrf_token %}
                {{ form.as_p }}<br>
                {{ profile_form.as_p }}
                <br>
                  <center><br><button type="submit" id="submit" class="btn btn-outline-success">Register</button></center>
              </form>
          </div>
        </div>

{% endblock %}
