{% extends 'Feedback_System/base.html' %}
{% load staticfiles %}
{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block body_block %}
  <center>
    <div id="content">
      <div class="jumbotron">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}<br><br>
            <input type="submit" value="submit" class="btn btn-outline-success">
          </form>

        </div>
    </div>
  </center>

{% endblock %}
